/* line 5, ../sass/grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../sass/grid.scss */
#master-header > div {
  margin: 0 auto;
  max-width: 980px;
  *zoom: 1;
  padding: 20px 0;
}
/* line 27, ../sass/grid.scss */
#master-header > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 50, ../sass/grid.scss */
#master-header > div h1 {
  float: left;
  padding: 0 24px;
  width: 33.33%;
}
@media only screen and (max-width: 767px) {
  /* line 50, ../sass/grid.scss */
  #master-header > div h1 {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}
/* line 53, ../sass/grid.scss */
#master-header > div nav {
  float: left;
  padding: 0 24px;
  width: 66.66%;
}
@media only screen and (max-width: 767px) {
  /* line 53, ../sass/grid.scss */
  #master-header > div nav {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}

/* line 59, ../sass/grid.scss */
#main-content {
  margin: 0 auto;
  max-width: 980px;
  *zoom: 1;
  padding: 20px 0;
}
/* line 27, ../sass/grid.scss */
#main-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 61, ../sass/grid.scss */
#main-content #secondary {
  float: left;
  padding: 0 24px;
  width: 33.33%;
}
@media only screen and (max-width: 767px) {
  /* line 61, ../sass/grid.scss */
  #main-content #secondary {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}
/* line 64, ../sass/grid.scss */
#main-content > section {
  float: left;
  padding: 0 24px;
  width: 66.66%;
}
@media only screen and (max-width: 767px) {
  /* line 64, ../sass/grid.scss */
  #main-content > section {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}

/* line 70, ../sass/grid.scss */
#master-footer > div {
  margin: 0 auto;
  max-width: 980px;
  *zoom: 1;
  padding: 20px 0;
}
/* line 27, ../sass/grid.scss */
#master-footer > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 72, ../sass/grid.scss */
#master-footer > div section {
  float: left;
  padding: 0 24px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 72, ../sass/grid.scss */
  #master-footer > div section {
    /* Small Device Styles here */
    float: none;
    width: auto !important;
    padding: 0 !important;
  }
}
